streamlit==1.32.0
requests
python-dotenv

langchain-community==0.0.28
sentence-transformers==2.2.2
chromadb==0.4.22

streamlit-authenticator==0.2.3

protobuf==3.20.3
opentelemetry-api==1.22.0
opentelemetry-sdk==1.22.0